.task {
  display: flex;
  align-items: center;
  column-gap: 10px;
  margin: 8px 0;
  padding: 16px;
  border-radius: 0 6px 6px 0;
  border-left: 5px solid var(--secondary);
  background: var(--background-light);
  &:hover {
    cursor: pointer;
  }
  &__checkbox {
    width: 16px;
    height: 16px;
    accent-color: white;
    &:hover {
      cursor: pointer;
    }
  }

  &__name {
    font-size: 18px;
    margin-right: auto;
  }

  &__button {
    color: var(--terciary);
    border: 0;
    background: transparent;

    transition: all 0.2s;
    &:hover {
      color: var(--secondary);
      border-color: var(--secondary);
      opacity: 1;
    }
  }

  &.completed {
    opacity: 0.6;
    span {
      text-decoration: line-through;
    }
  }
}
