.form {
  display: flex;
  column-gap: 12px;
  &__button {
    border: 0;
    border-radius: 6px;
    padding: 0 12px;
    background: var(--secondary);
    &:disabled {
      opacity: 0.6;
      cursor: not-allowed;
    }
    svg {
      margin-right: 6px;
    }
  }
}
