* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

body {
  background: blue;
}

:root {
  --background: #ffffff;
  --background-light: #f1f1f1;

  --primary: #181820;
  --secondary: #f95738;
  --terciary: #ba5a5a;
  --terciary-dark: #a14a4a;
  --grey: #adadad;
  --grey-dark: #8a8a8a;
}

body,
input,
button {
  color: var(--primary);
  font: 400 16px "Fredoka", sans-serif;
}

body {
  background: var(--background);
}

button:hover {
  cursor: pointer;
}
