.modal {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  &__content {
    background-color: var(--background);
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    &__button {
      margin-top: 20px;
      display: flex;
      column-gap: 10px;
      &_cancel {
        background: var(--grey);
        color: var(--background);
        border: 0;
        padding: 10px 20px;
        border-radius: 4px;
        &:hover {
          background: var(--grey-dark);
        }
      }
      &_confirm {
        background: var(--terciary);
        color: var(--background);
        border: 0;
        padding: 10px 20px;
        border-radius: 4px;
        &:hover {
          background: var(--terciary-dark);
        }
      }
    }
  }
}
